/*link google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200;1,300&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

/* -----header-area style start -----*/
.container{
    width: 90%;
    margin: auto;
}
#header{
    width:100%;
    padding:20px 0;
}
.header-area{
    width: 100%;
    height: 600px;
    background-image: url('./img/baner-new-year.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;

}
.header-text{
    width:50%;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.header-text h3{
    color: #fff;
    text-shadow: 2px 2px 3px red;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin:5px;
}
.header-text h1{
    color: #48ff00;
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    line-height: 95px;
    margin:8px;
    text-shadow: 3px 3px 4px #000000;
    letter-spacing: 5px;
}

/*holyday style start*/
#holyday{
    padding:10px 0;
}
.holyday-area>h1{
    color: #F00;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin:5px;
}
.holyday-area>h1>span{
    color:#000000;
}
.holyday-area p{
    color: #F00;
    text-align: center;
    font-size: 24px; 
    font-weight: 500;
  
}
.holyday-area h3{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin:5px;
}
.holyday-area img{
    width:80%;
    display: block;
    margin:auto;
}

/*midnight area style start*/
#midnight-area{
    padding:20px 0;
}
.midnight{
    width:100%;
    height: 500px;
    margin:auto;
    background-image: url('./img/Vectorrr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.midnight-content{
    padding-top: 36px;
    width:90%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.midnight-text{
    width:45%;
}
.midnight-imag{
    width:45%;
}
.midnight-text h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin:3px;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
}
.midnight-text p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(0, 255, 26);
}
.midnight-text button{
    color: #FFF;
    padding:5px 10px;
    border-radius: 4px;
    background:black;
    font-size: 20px;
    outline: none;
    transition: 1s;

}
.midnight-text button:hover{
    background:#fff;
    color:rgb(0, 0, 0);
    cursor: pointer;

}
.midnight-imag img{
    width:50%;
    display: block;
    margin: auto;
}
/*hotel area style start*/
#hotel{
    padding:20px 0;
}
.hotel-text-area{
    background: linear-gradient( #e89999,#fff);
    padding:40px 0;
    border-radius: 10px;
}
.hotel-text-area h3{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin:5px;
    text-align: center;

}
.hotel-text-area h3 span{
    color:rgb(255, 0, 0);
}
.hotel-text-area button{
    color: #FFF;
    display: block;
    width:150px;
    margin:20px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding:10px 0;
    outline: none;
    cursor: pointer;

}
.hotel-text-area button:hover{
    box-shadow: 2px 3px 3px black;
    color:black;
}
/*coming-soon area style start*/
#coming-soon{
    padding:40px 0px;

}
.coming-soon-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0;

}
.coming-offer-area{
    width:30%;
}
.coming-offer-area h3{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin:5px;
}
.coming-offer-area h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 5px;
}
.coming-offer-area p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.coming-img-area{
    width:30%;
}
.coming-img-area img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding:15px;
    display: block;
    margin: auto;
    border:10px solid red;
}
.coming-year-area{
    width:30%;
}
.coming-year-area h3{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin:5px;
}
.coming-year-area p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.coming-year-area img{
    width:25%;
}
/* sale area style start*/
#sale{
    margin:40px;
}
.sale-area h2{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 5px;
}
.sale-area h1{
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin:5px;
}
.sale-area h1 span{
    color: #070211;
}
.sale-area p{
    width:60%;
    margin:auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.sale-img{
    width:100%;
    height:500px;
    background-image: url('./img/Rectangle\ 2.png');
    background-size:100% 100px;
    background-position:left bottom;
    background-repeat: no-repeat;
    position: relative;
}
.sale-gift{
    width:50%;
    height: 200px;
    position: absolute;
    left: 40px;
    bottom: 240px;

}
.sale-gift img{
    width:100%;
}
.sale-girl-img{
    width:310px;
    height: 311px;
    position: absolute;
    bottom: 102px;
    right:0;

}
.sale-girl-img img{
    width:100%;

}
.sale-discunt-img{
    width:200px;
    height: 200px;
    position: absolute;
    bottom: 205px;
    right:287px;
}

/*protfolio area style start*/
#portfolio{
    margin:10px 0;
}
.portfolio-area h3{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin:5px;

}
.portfolio-area h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin:2px;
}
.portfolio-area p{
    width:60%;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin: 3px;
}
.portfolio-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.portfolio-img img{
    width:30%;
    margin:20px 0;
    border-radius: 15px;
    border: 2px solid rgb(9, 255, 0);
    transition: 1s;

}
.portfolio-img img:hover{
    transform: rotate(3deg);
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}
/*subscrib area style start*/

#subscrib{
    margin:30px 0;

    
}
.subscrib-area{
    padding:60px 0;
    background-color:rgba(0, 255, 89, 0.05);
    border-radius: 10px;
}
.subscrib-area span{
    font-size: 50px;
    display: block;
    text-align: center;
    color:#FFCE00;
}
.subscrib-area h2{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 5px;
}
.subscrib-area p{
    width: 70%;
    margin: auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.input-email{
    width: 400px;
    margin: auto;
    display: flex;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
}
.input-email input{
    width:80%;
    color: black;
    font-size: 23px;
    font-weight: 400;
    border: none;
    padding:4px;
    outline: none;
}
.input-email button{
    width:20%;
    background-color: #F00;
    outline: none;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    cursor:pointer;
    color: #fff;
    padding:5px 0;
}

h2{
    color:green;
}